* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ViewWindow {
  background-color: black;
  height: 70vh;
  width: 90vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.pivot{
  background-color: blue;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  position: absolute;
  transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
}
.low{
  background-color: lime;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  position: absolute;
  transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
}
.high{
  background-color: red;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  position: absolute;
  transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
}
.visuals{
  background-color: grey;
  height: 30vh;
  width: 80vw;
  position: relative;
}

.arrayBox {
  background-color: white;
  width: 9vh;
  aspect-ratio: 1/1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
}
.infoContainer{
  height: 40vh;
  width: 80vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.informer{
  background-color: azure;
  height: 35vh;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.informer.pseudocode.div{
  background-color: black;
}